/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import "tailwindcss" important;

// @theme {
//   --breakpoint-xs: 300px;
// }

html , 
body { margin: 0; font-family: ui-sans-serif,system-ui,sans-serif; font-weight: 500;  min-height: 100vh; }


$customTheme: mat.define-theme();

@include mat.core();

@media screen and (max-width: 1280px) {

    .container{
    min-width: 100%!important;
    }

}

@media screen and (max-width: 960px) {

    .radioGroup{
    grid-template-columns: repeat(1, minmax(0, 1fr))!important;
    }

}

.radioGroup{
    display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); gap:20px
}


.custom-theme{
    @include mat.all-component-themes($customTheme);

    // overrides

    .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button{
        @apply rounded-2xl
    }
}

.container{
    margin-inline: auto;
    @apply  max-w-screen-2xl;
     
}

.whiteToBlackButton{
    background: white!important;
    color: black!important;
}

.whiteToBlackButton:hover {
    background-color: #0F172A!important;
    color: white !important;
}

.blackToWhiteButton{
    background: #0F172A!important;
    color: white!important;
}

.blackToWhiteButton:hover {
    background-color: white!important;
    color: #0F172A !important;
}

.mat-mdc-outlined-button .mat-mdc-button-persistent-ripple::before{
    background-color: white!important;
}

.no-margin {
   // margin-inline: 0 !important;
   padding-top: 0px!important;
    min-width: 100%!important;
    
}


.mat-mdc-snack-bar-container.snack-error{
    --mdc-snackbar-container-color: red;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
    white-space: pre-wrap;
}

.mat-mdc-snack-bar-container.snack-success{
    white-space: pre-wrap;
    --mdc-snackbar-container-color: green;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-card{
    border:1px solid #e5e7eb!important;
    background-color: white!important;

}

// button.match-input-height{
//     height: var(--mat-form-field-container-height)
// }

.mdc-notched-outline__notch{
    border-right-style :none!important;
}

input:-internal-autofill-selected{
    background-color: white!important;
    box-shadow: 0 0 0px 1000px white inset;
}

.userEmailHeader > .mdc-button__label{
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.mat-drawer-backdrop {
    background-color: transparent!important;
}

mat-form-field.small {
  --mat-form-field-container-height: 40px!important;
  --mat-form-field-container-vertical-padding: 8px!important;
}



mat-form-field.smallSelect  .mat-form-field-underline  {
   // display: none!important;
   // margin-top: 5px!important;
    // --mat-form-field-container-height: 30px!important;
    // --mat-form-field-container-vertical-padding: 2px!important;
}


.mat-drawer{
    background-color: #eeeeee!important;
}

.mat-mdc-paginator-range-label{ // length of mat-paginator
    display: none!important;
}