<div>
    <div class="flex p-4 border-b-1 border-black justify-between items-center">
        <div class="text-2xl font-bold text-black ">
            {{productToEdit ? "Edit" : "Add new"}}  Product
        </div>
        <button (click)="closeDrawer()" class="cursor-pointer p-1 hover:bg-gray-400 rounded-full" style="width:50px; height:50px">
            <mat-icon class="align-middle">close</mat-icon>
        </button>
    </div>

     <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="p-4">
        <div class="flex flex-col">

            <mat-form-field  form-field appearance="outline" class="small mb-2">
                <mat-label>name</mat-label>
                <input formControlName="name" type="text" matInput >
                <mat-error>name is required</mat-error>
            </mat-form-field>

            <mat-form-field  form-field appearance="outline" class="small mb-2" >
                <mat-label>Description</mat-label>
                <textarea formControlName="description" type="text" rows="4" matInput style="overflow-y: hidden!important" ></textarea>
                <mat-error>Description is required</mat-error>
            </mat-form-field>

            <mat-form-field  form-field appearance="outline" class="small mb-2">
                <mat-label>Price</mat-label>
                <input formControlName="price" type="text" matInput >
                <mat-error>Price is required</mat-error>
            </mat-form-field>

            <mat-form-field  form-field appearance="outline" class="small mb-2" >
                <mat-label>Url</mat-label>
                <input formControlName="pictureUrl" type="text" matInput placeholder="accepts https's .jpg .png .webp">
                 @if(productForm.get('pictureUrl')?.hasError('required')){
                  <mat-error>
                    Url is required
                    </mat-error>
                 }
                @if(productForm.get('pictureUrl')?.hasError('pattern')){
                    <mat-error>
                        enter a valid HTTPS URL jpg or png
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class=" small mb-2" appearance="outline">
            <mat-label class="mt-2">Type</mat-label>
                <mat-select formControlName="typeId" >
                    
                    @for (type of allTypes; track type.id) 
                    {
                        <mat-option [value]="type.id">{{type.typeName}}</mat-option>
                    }
                </mat-select>
                 <mat-error>Type is required</mat-error>
            </mat-form-field>


            <mat-form-field  class=" small mb-2" appearance="outline" >
            <mat-label>Brand</mat-label>
                <mat-select formControlName="brandId" >
                    @for (brand of allBrands; track brand.id) 
                    {
                        <mat-option [value]="brand.id">{{brand.brandName}}</mat-option>
                    }
                </mat-select>
                 <mat-error>Brand is required</mat-error>
            </mat-form-field>
            <mat-form-field  form-field appearance="outline" class="small mb-2">
                <mat-label>Stock</mat-label>
                <input formControlName="quantityInStock" type="text" matInput >
                <mat-error>Stock is required</mat-error>
            </mat-form-field>
        </div>
        <div class="flex justify-between">
            <div class="flex">
            @if(productToEdit)
            {
                <button mat-stroked-button type="button" class="text-nowrap blackToWhiteButton" (click)="clearUrl()">Clear URL</button>
            }
            @else 
            {
                  <button mat-stroked-button type="button" class="text-nowrap" (click)="clearFields()">Clear</button>
            }
            </div>
            <div class="flex gap-2">
                <!-- <button type="button" (click)="t()">debug</button> -->
                <button mat-stroked-button type="button" class="whiteToBlackButton" (click)="closeDrawer()"> Close </button>
                <button mat-stroked-button type="submit" class="blackToWhiteButton"  [disabled]="productForm.invalid"> {{ this.productToEdit ? 'Edit' : 'Create' }}</button>
            </div>
        </div>
    </form>
</div>


 <!-- <div class="clearFilterDiv">
                    <button mat-stroked-button class="blackToWhiteButton" (click)="clearFilters()">
                        Clear Filters
                    </button>
                </div>
                <div class="flex gap-2 closeOrApplyFiltersDiv">
                    <div>
                        <button mat-stroked-button class="whiteToBlackButton" (click)="drawer.toggle()"> 
                            Close
                        </button>
                    </div>
                    <div>
                        <button mat-stroked-button class="blackToWhiteButton" (click)="applyFilters()">
                            Apply Filters
                        </button>
                    </div>
                </div> -->