
@media screen and (max-width: 1280px) {
    
    .loginForm{
        flex-grow: 1
    }
      .checkout{
        flex-wrap: wrap;
    }
}





@media screen and (max-width: 410px) {
    .formButtons{
        flex-direction: column;
        gap: 10px;
    }
}