<div class="flex mt-32 gap-6">
    <div class="w-3/4">
        <mat-stepper #stepper class="bg-white border border-gray-200 shadow-sm">
            <mat-step label="Address">
               <div class="mt-2">
                   <form [formGroup]="addressForm">
                            <app-text-input label="Full name" formControlName="fullName" />
                            <app-text-input label="Country" formControlName="country" />
                            <app-text-input label="Address line 1" formControlName="line1"  />
                            <app-text-input label="Address line 2" formControlName="line2"   />
                            <app-text-input label="City" formControlName="city"   />
                            <app-text-input label="Postal code" formControlName="postalCode"   />
                   </form>
                   <div class="flex justify-end">
                    <mat-checkbox [checked]="saveAddressCheckBox" (change)="saveAddressCheckBox=!saveAddressCheckBox">
                            Save as default address
                    </mat-checkbox>
                   </div>
                </div>
                <div class="flex justify-between pt-2">
                    <button routerLink="/shop" mat-stroked-button> Continue Shopping</button>
                    <button [disabled]="addressForm.invalid" matStepperNext mat-flat-button (click)="saveAddress(addressForm)"> Next </button>
                </div>
            </mat-step>

            <mat-step label="Shipping">
                <div class="w-full" >
                    <mat-radio-group class="grid grid-cols-2 gap-4" >
                        @for (delivery of checkoutService.delivery; track delivery.id) {
                            <label class="p-3 border border-gray-200 cursor pointer w-full h-full  hover:bg-purple-100" style="cursor: pointer;" [ngStyle]="{'background-color': delivery.id === selectedDelivery?.id ? '#f9c1f9' : 'white'}" >
                                <mat-radio-button class=" w-full h-full" [value]="delivery" (click)="selectedDelivery = delivery; UpdatePrice(delivery.price)" >
                                    <div class="flex flex-col w-full h-full" style="cursor: pointer;">
                                        <strong> {{ delivery.shortName }} - {{ delivery.price }} € </strong>
                                        <span> {{delivery.description}} </span>
                                    </div>
                                </mat-radio-button>
                            </label>
                        }
                    </mat-radio-group>
                </div>
                <div class="flex justify-between pt-2">
                    <button matStepperPrevious mat-stroked-button> Back</button>
                    <button [disabled]="selectedDelivery === undefined" matStepperNext mat-flat-button> Next </button>
                </div>
            </mat-step>

            <mat-step label="Payment">
                <div>
                    <app-payment-types></app-payment-types>
                </div>
            </mat-step>
            <mat-step label="Address">
                Review Form
            </mat-step>
        </mat-stepper>
    </div>
    <div class="w-1/4">
        <app-order-summary></app-order-summary>
    </div>
</div>