<div class="py-10 text-white " style="background-color: rgb(26 54 93 );">
    <div class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-4 gap-6 px-4 max-w-7xl justify-self-center">
        <div class="flex flex-col gap-1 ">
            <div class="text-xl font-semibold mb-4">
                EasyShop
            </div>
            <div class="footerInfo font-normal">
                Making online shopping easy and secure with multiple payment options.
            </div>
        </div>
        <div class="flex flex-col gap-1 ">
            <div class="text-xl font-semibold mb-4">
                Quick Links
            </div>
            <div class="footerInfo">
                <button class="footerButton" routerLink="/" >
                    Home
                </button>
            </div>
            <div class="footerInfo">
                <button class="footerButton" routerLink="/shop">
                    Shop
                </button>
            </div>
            <div class="footerInfo">
                <button class="footerButton" >
                    About Us
                </button>
            </div>
            <div class="footerInfo">
                <button class="footerButton" >
                   Contact
                </button>
            </div>
        </div>
        <div class="flex flex-col gap-1 ">
            <div class="text-xl font-semibold mb-4">
                Customer Service
            </div>
               <div class="footerInfo">
                <button class="footerButton" >
                FAQ
                </button>
            </div>
            <div class="footerInfo">
                <button class="footerButton" >
                 Shipping
                </button>
            </div>
            <div class="footerInfo">
                <button class="footerButton" >
                Returns & Refunds
                </button>
            </div>
            <div class="footerInfo">
                <button class="footerButton" >
                  Privacy Policy
                </button>
            </div>
        </div>
        <div class="flex flex-col gap-1 ">
            <div class="text-xl font-semibold mb-4">
                Contact Us
            </div>
            <div class="footerInfo">
                123 Commerce St. Shopping District
            </div>
            <div class="footerInfo">
                Email: easy&#64;easyshop.com 
            </div>
            <div class="footerInfo">
               Phone: (123) 456-7890
            </div>
        </div>
    </div>

</div>