<section>
    @if( (cartService.cartItemCount() == 0) || (cartService.cartItemCount() == undefined ))
    {
        <app-empty-basket></app-empty-basket>
    }
    @else 
    {
        <div class="flex  justify-center gap-6 mt-4 cart">
            <div class="flex-grow w-3/4">
                @for (item of cartService.cart()?.items; track item.productId) {
                   <app-cart-item [item]="item"></app-cart-item>
                }
            </div>
            <div class="flex-grow m-4" style="min-width: 300px;max-width: 918px;">
                <app-order-summary></app-order-summary>
            </div>
        </div>
    }

</section>