@if (product)
{
    <div style="min-height: 378px;" class="flex">
        
    <mat-card [ngClass]="product.quantityInStock> 0 ? 'withStock' : 'withoutStock'" class="productCard flex-grow" routerLink="/shop/{{product.id}}">
        <div class="flex flex-col flex-grow">
            <img src="{{product.pictureUrl}}" alt="image if {{product.pictureUrl}}" class="">

         
            <mat-card-content class="mt-2"  >
                <h2 class="text-sm font-semibold uppercase pt-1" style="height:75px" >
                    {{product.name}}
                </h2>
                <div class="h-4 flex items-center">
                    <star-rating  [getHalfStarVisible]="getHalfStarClass" [showHalfStars]="true" class="float-left pr-2" style="transform:scale(1.2)" [readOnly]="true" [starType]="'svg'" [rating]="product.avgScore!"></star-rating>
                    <span class="text-sm text-gray-600">({{product.reviews.length}})</span>
                </div>  
               
                <div class="font-medium">{{ product.price}} €</div>

            </mat-card-content>
         
            <div class="flex flex-grow items-end w-full">
            <mat-card-actions (click)="$event.stopPropagation()" class="w-full">
                @if(product.quantityInStock > 0)
                {
                <button mat-stroked-button class="w-full" (click)="cartService.addItemToCart(product,1, accountService.currentUser()?.email)" >
                    <mat-icon>add_shopping_cart</mat-icon>
                   Add to cart
                </button>
                }
                @else
                {
                    <div> Out of stock</div>
                }
            </mat-card-actions>
            </div>
                </div>
    </mat-card>

    </div>
}


