.mat-mdc-row  {
    --mat-table-row-item-label-text-weight: 500!important;

}
.mat-mdc-cell{
  justify-content: center!important;
}

.mat-mdc-header-cell{
  justify-content: center!important;
}

.mat-cell{
  
}