@media screen and (max-width: 600px) {
    .itemPrice{
       // width: auto!important;
        padding-left:10px;
    }
    .cartItem{
        flex-wrap: wrap;
        gap: 0px!important;
        justify-content: space-around;
        width: 100%;

    }

    .qtAndPrice{
      //  justify-content: space-around!important;
      margin-top: 15px;
     // margin-bottom: -15px;
        width: 100%;
    }
}

.itemPrice{
    max-width: 150px;
    text-wrap: nowrap;
    padding-left:10px;
}

.cartItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.urlAndName{
    display: flex;
   // justify-content: space-around;
    max-width: 400px;
    flex-grow: 1;
    gap:25px

}


.qtAndPrice{
  display: flex;
  align-items: center;
  justify-content: space-between;
 // min-width: 250px;
}
