<mat-card class="max-w-lg mx-auto mt-32 p-8 bg-white">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-6">
            <h1 class="text-3xl font-semibold text-primary">Login</h1>
        </div>
        <mat-form-field  form-field appearance="outline" class="w-full mb-4">
            <mat-label>Emaill address</mat-label>
            <input formControlName="email" type="email" matInput>
        </mat-form-field> 
          <mat-form-field form-field appearance="outline" class="w-full mb-4">
            <mat-label>Password</mat-label>
            <input formControlName="password" type="password"  matInput>
        </mat-form-field> 

        <button mat-flat-button type="submit" class="w-full py-2 "> Sign in </button>
    </form>
</mat-card>

<ng-template #dialogTemplate let-data class="p-4 " >
  <div  class="w-full">
<h2 class="font-bold" mat-dialog-title>Carts Conflict detected</h2>
<mat-dialog-content class="">
  <p class="font-semibold text-xl">The user you just logged already has a saved cart.</p>
  <p class="font-semibold pb-2 text-xl">Do you wish to replace carts?</p>
  <div class="flex justify-evenly pt-2">
    <div class="flex flex-col">
      <div>New Cart</div>
      <div>
        @for (item of data.newCart; track $index) 
        {
          <li>
            {{item.productName}} x {{item.quantity}}
          </li>
        }
      </div>

    </div>
    <div class="flex flex-col">
      <div>Old cart</div>
          <div>
        @for (item of data.savedCart; track $index) 
        {
          <li>
            {{item.productName}} x {{item.quantity}}
          </li>
        }
      </div>

    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions  class="flex justify-evenly">

    <button mat-button [mat-dialog-close]="'new'">Replace with new Basket</button>
    <button mat-button [mat-dialog-close]="'old'" cdkFocusInitial>Keep old cart</button>

</mat-dialog-actions>
</div>
</ng-template>